<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>yt2pls</title>
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="emil">

  <link rel="stylesheet" href="static/styles.css?v=1.0">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>

<body>
	<div class="container">
		<div class="jumbotron">
			<img class="img-responsive center-block" src="/static/logo.svg" alt="Tube Downloader" width="184" height="128">
	    <h2 class="text-center lead"><strong>Paste YouTube URL here…</strong></h2>
		</div>
		<div class="row">
		 <div class="col-lg-12">
			<form class="form-horizontal" action="/" method="post">
			    <div class="col-sm-8">
			    	<input class="form-control" name="url" type="text" placeholder="https://www.youtube.com/watch?v=TZjTXh_zaXc">
			    </div>
			    <div  class="col-sm-4">
			    	<input type="submit" class="btn btn-danger btn-block" value="GO">
			    </div>
			</form>
  	</div>

		<div class="row">
			 <div class="col-lg-6">
		    <h3>Found</h3>
		    {%for f in entries%}
		    <p>
		        {% for t in f.thumbnails %}
		        <img style="width:10%" src="{{t.url}}">
		        {% endfor %}
		        {{f.title}} | {{f.filesize}} bytes @ {{f.asr}} &mdash; <a class="btn btn-success" href="{{f.url}}">	▶</a>
		        <audio controls>
 						 <source src="{{f.url}}">
 						</audio>
		    </p>
		    {% endfor %}
		   </div>
		    <div class="col-lg-6">
			    <h3 class="lead class="text-center""><strong>Playlist</strong> | <a class="btn btn-info lead" href="/pls/"><strong>Download ↓</strong></a> <a class="btn btn-danger lead" href="/reset/"><strong>Clear</strong> ☉</a></h3>
			    {%for f in playlist%}
			    <p>
			        {% for t in f.thumbnails %}
			        <img style="width:10%" src="{{t.url}}">
			        {% endfor %}
			        {{f.title}} | {{f.filesize}} bytes @ {{f.asr}} &mdash;  <a class="btn btn-success" href="{{f.url}}">	▶</a>
			    </p>
			    {% endfor %}
			  </div>
		</div>
	</div>
<footer><p class="bg-info bigger-margin lead"><a href="#" data-toggle="tooltip" title="Hooray!">made by opi & thung</a></p></footer>
</body>
</html>
